body {
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    font-size: 16px;
    line-height: 1.45;
    color: black;
}
#navbar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    border-style: solid;
    border-width: 0 1px 0 0;
}
#navbar .nav-links {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
#navbar header {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 25px;
    text-align: center;
}
#navbar li {
    list-style-type: none;
    height: 25px;
    border: solid;
    border-width: 1px 0 0 0;
    font-size: 16px;  
}
#navbar #objects_and_arrays {
    height: 45px;
}
#navbar a {
    text-decoration: none;
    color: #4F4F4F;
}
#navbar img {
    width: 100%;
}
#main-doc {
    margin-left: 260px;
}
header {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 25px;
    text-align: left;
}

